

pre {
    padding: 4px;
    background-color: var(--bs-gray-200) !important;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  text-align: center;
}
.rounded-opposites {
    border-top-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important
}

.h2, h2, .h3, h3 {
    text-align:center!important
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 5px;
}
